{{ define "modules/home/view/about" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {{ .title }}</title>
</head>
<body>
    <h1>{{ .title }}--{{ .app_name }}</h1>
</body>
</html>
{{ end }}
