{{ define "modules/home/view/home" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {{ .title }}</title>
</head>
<body>
<img src="assets/1.png" width="200"/>
<h1>{{ .title }}--{{ .app_name }}</h1>
</body>
</html>
{{ end }}
